e2b==1.0.5
e2b-code-interpreter==1.0.0 
langchain==0.3.11 
langchain-community==0.3.11 
langchain-core==0.3.24 
langchain-experimental==0.3.3 
langchain-text-splitters==0.3.2 
langgraph==0.2.56 
langgraph-checkpoint==2.0.8 
langgraph-sdk==0.1.43 
langsmith==0.1.147 
pydantic==2.10.3 
pydantic-settings==2.6.1 
pydantic_core==2.27.1 
regex==2024.11.6 
requests==2.32.3 
tavily-python==0.5.0 
typing-inspect==0.9.0 
typing_extensions==4.12.2 
uvicorn 
fastapi 
pyjwt