# IDE
.DS_Store

# Python
*.pyc
__pycache__
*egg-info
*.whl
.venv/

# Virtual Environment
env
.testvenv

# persistent storage volume
tt_studio_persistent_volume

# Output Files
*netlist.yaml
*.dump
*.log
docs/build
.hlkc_cache
tt_build
generated_modules
*.ipynb
*_params.pt
*.json
*.pt
*.tti
*.txt
unzipped_tti/
db.sqlite3

# secrets
.env

# preferences
.tt_studio_preferences.json

# unignore
!requirements.txt
!app/frontend/third-party-licenses.txt
!requirements-dev.txt

app/frontend/src/assets/*

fastapi.pid
fastapi.log

# Artifacts
.artifacts/
*.tar.gz
*.zip

# Inference API
inference-api/.venv/
inference-api/__pycache__/
